.button-container {
  // background-color: rgba(130, 139, 219, 0.4);
  background-color: transparent;

  display: grid;
  border-radius: 15px;
  grid-template-columns: repeat(8, max-content);

  grid-gap: 1px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.button-container h4 {
  color: rgb(42, 22, 122);
  padding: 5px 5px;
  font-style: italic;
  font-weight: bolder;
}
