.list-Btn {
  display: inline;

  background-color: rgba(85, 81, 82, 0.6);
  border: 1px solid black;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 5px 5px;
  margin: 5px 5px;
  justify-items: left;
}
//
.list-Btn:hover {
  transform: scale(1.1);
  background-color: rgba(242, 196, 247, 0.5);
  color: #000;
}
.list-btn:select {
  transform: scale(1.1);
  background-color: rgba(242, 196, 247, 0.7);
  color: #000;
}
main {
  background-color: rgba(195, 222, 248, 0.7);
  display: grid;
  border-radius: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  overflow: auto;
  margin: 0;
}
h3 {
  color: rgb(77, 24, 77);
  margin-bottom: 50px;
}
footer {
  color: #fff;
  font-weight: 500;
}
.box {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: auto;
  transition: box-shadow 0.2s ease-out;
  object-fit: cover;
  padding-bottom: 6px;
  padding-left: 4px;
  transition: all 0.2s;
}

.box.active {
  box-shadow: 0 0 10px 5px darksalmon;
  background-color: antiquewhite;
  transform: translateY(20px);
}
.box h4 {
  color: rgb(247, 52, 133);
}
.box li {
  list-style: none;
  font-weight: bolder;
  padding-top: 0;
}

.box .info {
  background-color: darksalmon;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
  text-align: center;
  height: 100%;
}
