@media (max-width: 1100px) {
  header {
    h1 {
      font-size: 1rem;
    }
    h2 {
      font-size: 1rem;
    }
    h3 {
      font-size: 0.75rem;
    }
  }
  body {
    background: url(../img/skyback-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.75rem;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
  }
  .button-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .music-container {
    width: 100%;
    text-justify: right;
    padding: 5px 15px;
    margin: 50px 0;
  }
  .musicType-Btn {
    font-size: 10px;
    padding: 3px 3px;
    margin: 3px 3px;
  }
}

@media (max-width: 760px) {
  .random-container h4 {
    font-size: 0.7rem;
  }
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .button-container {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    font-size: 0.75rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  h3 {
    font-size: 0.5rem;
  }
  .musicType-Btn {
    font-size: 10px;
    padding: 1px 1px;
    margin: 1px 1px;
  }
}

@media (max-width: 500px) {
  .random-container {
    grid-gap: 5px;
    grid-template-columns: repeat(1, minmax(250px, max-content));
  }
  .random-container h4 {
    font-size: 0.6rem;
    header {
      h1 {
        font-size: 0.5rem;
      }
      h2 {
        font-size: 0.4rem;
      }
      h3 {
        font-size: 0.25rem;
      }
    }
    main {
      grid-template-columns: 1fr;
    }
    .button-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
