.random-container {
  // background-color: rgba(130, 139, 219, 0.4);
  background-color: transparent;
  display: grid;
  border-radius: 15px;
  grid-template-columns: repeat(2, minmax(250px, max-content));
  grid-gap: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 20px;
}
.random-container h4 {
  color: rgb(42, 22, 122);
  padding: 5px 5px;
  font-weight: bolder;
}
